html, body {
  height:100%;
  margin:0;
}

.header {
  height:20%;
  width:100%;
}
.left{
  height:30%;
  width: 20%;
  display:inline-block;
}

.right{
  height:80%;
  width: 80%;
  float:right;
}

.rightTop{
  height:20%;
  width: 100%;
}


.rightBottom{
  height:60%;
  width: 100%;
}

